{% extends "base.html" %}

{% load i18n bootstrap3 %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <form action="." method="post" class="form">
                {% csrf_token %}
                <table>
                {% bootstrap_form news_form %}
                </table>
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "star" %} {% trans "Submit" %}
                    </button>
                {% endbuttons %}
            </form>
        </div>
        <div class="col-lg-6">
            TEXTO DE AYUDA......
        </div>
    </div>
{% endblock %}