{% load i18n %}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bootstrap theme</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url "news_list" %}">{% trans "Home" %}</a></li>
            <li><a href="{{ BLOG_URL }}">{% trans "Blog" %}</a></li>
            <li class="dropdown">
              <a href="{% url "news_list" %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "News"%} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "news_list"%}">{% trans "News list"%}</a></li>
                <li><a href="{% url "news_add"%}">{% trans "Add news"%}</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>